<h1>One Shirt</h1>

<p>
  <%= link_to 'Edit', edit_shirt_path(@shirt) %>
</p>

<p>
  <%= @shirt.name %>
</p>
<p>
  <%= @shirt.description %>
</p>
<p>
  <%#= image_tag 'https://www.google.com/images/srpr/logo4w.png', height: 100 %>
</p>